# Created by .ignore support plugin (hsz.mobi)
/gradlew
/gradlew.bat
/src/
/out/
/gradle/
/.idea/
/.gradle/
/api/src/main/resources/application.properties
/api/src/main/resources/database.properties
/api/src/main/resources/hibernate.properties
/web/src/main/resources/application.properties
/api/build/
/common/build/
/entity/build/
/web/build/
/web/node_modules/
/web/src/main/webapp/WEB-INF/build/
